SITE_HOST=bugsink.localhost
SSL_DHPARAM=/usr/local/src/bugsink/ssl/dhparam.pem
SSL_CERTIFICATE=/usr/local/src/bugsink/ssl/cert.pem
SSL_CERTIFICATE_KEY=/usr/local/src/bugsink/ssl/key.pem

BASE_URL=https://bugsink.localhost
DB_PASSWORD=test
WEB_USER=admin@example.com
WEB_PASSWORD=simple
SECRET_KEY="e9gd)zm*9us-wb@9x=j73&&!9tnsvtgvi#cbibk3)b=16vt(rh"
